<script src="spec/Controller/LoginControllerSpec.js"></script>
<script src="spec/Controller/UtilsSpec.js"></script>
<script src="spec/View/LoginViewSpec.js"></script>
<script src="spec/View/NotesViewSpec.js"></script>
</html>