<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <style>
 .error { 
  }
</style>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../bower_components/jquery/dist/jquery.min.js">
</script>
<script src="../../bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="lib/jasmine-jquery.js"></script>
</head>
