vendor/
build/api
build/coverage
build/logs
build/phpdox
build/pdepend
cache.properties
app/Config/config.json
.vagrant
composer.lock
public/js/consolidated.js
public/js/main-min.js
node_modules/
bower_components/