<div id="comment_form" class="container">
    <div>Create Note:</div>
    
    <div>
        <input type="text" id="title" placeholder="Title" required="">
    </div>
    
    <div>
        <textarea rows="10" id="body" placeholder="Description"></textarea>
    </div>
    
    <div>
    <input type="text" id="enteredTagValue" />
        <span><button type="button" id="addBtn">Add</button></span>
    </div>

    <div id="userTags"></div>
    
    <div id="noteTags"></div>
    
    <div><span id="error"></span><span id="errorMessage"></span></div>
    
    <input type="hidden" id="noteModel" name="noteModel" />
    <input type="submit" value="Save" id="save">
    <a href="#">
        <span id="back"><button type="button">Back</button></span>
    </a>
</div>