<script id="hiddenHomeView" type="x-tmpl-mustache">
{{{home}}}
</script>

<script id="hiddenRegisterView" type="x-tmpl-mustache">
{{{ register }}}
</script>

<script id="hiddenLoginView" type="x-tmpl-mustache">
{{{ login }}}
</script>

<script id="hiddenNotesView" type="x-tmpl-mustache">
{{{ notes }}}
</script>

<script id="hiddenCreateNoteView" type="x-tmpl-mustache">
{{{ createNote }}}
</script>

<script id="hiddenNoteView" type="x-tmpl-mustache">
{{{ note }}}
</script>

<script id="hiddenNoNotesView" type="x-tmpl-mustache">
{{{ noNotesView }}}
</script>
