<script id="hiddenLoginView" type="x-tmpl-mustache">
{{> login }}
</script>

<script id="hiddenRegisterView" type="x-tmpl-mustache">
{{> register }}
</script>

<script id="hiddenHomeView" type="x-tmpl-mustache">
{{> home }}
</script>