<script id="hiddenHomeView" type="x-tmpl-mustache">
{{{home}}}
</script>

<script id="hiddenRegisterView" type="x-tmpl-mustache">
{{{ register }}}
</script>

<script id="hiddenLoginView" type="x-tmpl-mustache">
{{{ login }}}
</script>
