<!DOCTYPE html>
<html lang="en">
<head>
		{{{ meta }}}
		{{{ style }}}
		{{{ hidden }}}
		{{{ script }}}
</head>
<body>
	{{{ header }}}
    
    <section id="content">
    	{{{ content }}}
    </section>
  		
  	{{{ footer }}}
</body>
</html>