<div>
    <input type="hidden" id="noteTagId" />
    <input type="hidden" id="noteId" />
    <input type="hidden" id="userTagId" />
    <input type="hidden" id="isDeleted" />
    {{#userTags}}
            <li id="" value="">
            	{{tag}} 
            			<span id="" value="">
            				<a href="#" id="" value="">Delete</a>
            			</span>
            </li>
    {{/userTags}} 
</div>