<div id="notes-container">
  <a href="#"><span id="create">Create</span></a>
  <a href="#"><span id="logout">Logout</span></a>
  
  <div id="allNotes">
  <table border="1" font-size="25px" width="500" style="margin:5px">
    
    <tr align="center">
      <td>Title</td>
      <td>Action</td>
    </tr>

    {{#notesCollection}}
    <tr align="center">
      <td>
        <a href="#"><span id="note_title_{{id}}" value="{{id}}">{{title}}</span>
        </a>
      </td>
      <td>
        <a href="#"><span id="note_delete_{{id}}" value="{{id}}">Delete</span>
        </a>
      </td>
    </tr>
    {{/notesCollection}}
  
  </table>
  </div>
</div>
