<div>
  <fieldset>
    <legend>{{ title }}:</legend>
    <table>
      <tr>
        <td>FirstName:</td>
        <td><input type="text" name="firstName" id="firstName"/></td>
      </tr>
      <tr>
        <td>LastName:</td>
        <td><input type="text" name="lastName" id="lastName"/></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><input type="text" name="email" id="email"/></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type="password" name="password" id="password"/></td>
      </tr>
      <tr>
        <td id="error"></td>
        <td><div id="errormsg"></div></td>
      </tr>
      <tr>
        <td><input type="submit" value="Submit" id="register"/></td>
        <td><input type="reset" value="Reset" id="clear"/></td>
      </tr>
    </table>
  </fieldset>
</div>
