<form  method="POST">
  <fieldset>
    <legend>{{ title }}:</legend>
    <table>
      <tr>
        <td>FirstName:</td>
        <td><input type="text" name="firstName" /></td>
      </tr>
      <tr>
        <td>LastName:</td>
        <td><input type="text" name="lastName" /></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><input type="text" name="email" /></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type="password" name="password" /></td>
      </tr>
      <tr>
        <td>Error :-  </td>
        <td><div class="error" >{{ Error }}</div></td>
      </tr>
      <tr>
        <td><input type="submit" value="Submit" /></td>
        <td><input type="reset"  value="Reset" /></td>
      </tr>
    </table>
  </fieldset>
</form>
