<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/mustache/mustache.min.js" ></script>
<script type="text/javascript" src="lib/main-min.js"></script>
<script type="text/javascript">
	$(function() {
	    console.log("In before home controller init call");
	    Notes.HomeController.init();
	});
</script>
